AddDefaultCharset utf-8

ErrorDocument 404 "Oops! Da stimmt was nicht!"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase "/"

    # Force ssl
    # RewriteCond %{HTTPS} off
    # RewriteRule ^https://%{HTTP_HOST}%{REQUEST_URI} [R=302,QSA,L]

    # Remove www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=302,QSA,NC,L]

    # Remove php extension:
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(([^/]+/)*([^/.]+))\.php[\ ?]
	RewriteRule \.php$ /%1/ [R=302,QSA,NC,L]

    # Funnel page requests to index and try to serve content:
    RewriteCond %{REQUEST_URI} !^/bundles/ [NC]
    RewriteCond %{REQUEST_URI} !^/assets/ [NC]
    RewriteRule . index.php [QSA]
</IfModule>